logs
project/project
project/target
target
tmp
.history
dist
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
dump.rdb
/.idea/libraries/
/.idea/workspace.xml
/.idea
/node_modules
/bower_components
main.min.css
style.css