<form class="searchOptions form-horizontal">
    <div class="form-group">
        <div class="locations-container col-sm-10 col-xs-12">
            <select class="locations form-control input-lg">
                <option value="boston,ma">Boston, MA</option>
                <option value="las+vegas,nv">Las Vegas, NV</option>
                <option value="new+york,ny">New York, NY</option>
                <option value="miami+beach,fl">Miami Beach, FL</option>
            </select>
        </div>
        <div class="filters-container col-sm-2 col-xs-12">
            <select class="filters form-control input-lg">
                <option value="trending">trending</option>
                <option value="drinks">drinks</option>
                <option value="food">food</option>
                <option value="outdoors">outdoors</option>
                <option value="sights">sights</option>
                <option value="arts">arts</option>
            </select>
        </div>
    </div>
</form>
<ul class="venue-items list-unstyled solid_bg"></ul>